{% extends 'index.html' %}

{% block content %}

<div class="row mb-2">
  {% for cliente in clientes %}
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">{{cliente.nome}}</h3>
        <div class="mb-1 text-muted">{{cliente.cpf}}</div>
        <p class="card-text mb-auto">{{cliente.email}} - {{cliente.modelo}}</p>
         <a href="{% url 'detalhar_cliente' cliente.pk %}" class="btn btn-primary mt-4">Detalhes</a>
      </div>
      
    </div>
  </div>
  
  {% endfor %}
</div>


{% endblock content %}     
  